@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF Pro Rounded";
  src: url("/fonts/SF-Pro-Rounded.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "SF Pro Rounded", sans-serif;
  background-color: #eae1ca;
  overscroll-behavior-y: contain; /* 👈 Отключает свайп вниз */
}
